.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-truncate {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-link {
  color: black;
  text-decoration: none;
}

.card-hover {
  border: 10px solid transparent;
  transition: border-color 0.3s ease;
}

.card-hover:hover {
  border-color: black;
}

.contenedor-flexbox {
  display: flex; /*Convertimos al menú en flexbox*/
 /*Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda*/
/*con esto alineamos de manera vertical*/
}

.news-title{
  font-size:x-large;
  color:dodgerblue;
  text-align:center;
  margin-top:3%;
}

.news-description{
  font-size:large;
  color:black;
  text-align:center;
  margin-top:3%;
}

.news-button{
  display: flex;
  justify-content:center;
  align-items:center;
}

